<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mvc.renderPlaceholder>
      <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']"
                 type="Sitecore.Feature.DynamicPlaceholders.Web.UI.Pipelines.PerformRendering, Sitecore.Feature.DynamicPlaceholders.Web.UI" />
    </mvc.renderPlaceholder>
    <getPlaceholderRenderings>
      <processor patch:instead="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                 type="Sitecore.Feature.DynamicPlaceholders.Web.UI.Pipelines.GetAllowedRenderings, Sitecore.Feature.DynamicPlaceholders.Web.UI" />
    </getPlaceholderRenderings>
    <getChromeData>
      <processor patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                 type="Sitecore.Feature.DynamicPlaceholders.Web.UI.Pipelines.GetDynamicPlaceholderChromeData, Sitecore.Feature.DynamicPlaceholders.Web.UI" />
    </getChromeData>
    <executePageEditorAction>
      <processor patch:instead="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']"
                 type="Sitecore.Feature.DynamicPlaceholders.Web.UI.Pipelines.InsertRendering, Sitecore.Feature.DynamicPlaceholders.Web.UI" />
    </executePageEditorAction>
  </sitecore>
</configuration>